<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="form-group">
  <div class="alert alert-info">
    <p>
      Upload a ranked list of genes in the <strong><a
      href="http://software.broadinstitute.org/cancer/software/gsea/wiki/index.php/Data_formats#RNK:_Ranked_list_file_format_.28.2A.rnk.29"
      target="_blank">RNK file format</a></strong> to execute this query.
    </p>
    <p>
      You can download a ranked list example (Lung adenocarcinoma LUAD patient with EGFR mutation and
      amplification from TCGA) from <strong><a href="downloads/TCGA-91-6847.rnk" target="_blank">here</a></strong>.
    </p>
  </div>

  <label ng-attr-for="{{ $ctrl.idPrefix + '-input-file' }}">Select a RNK file</label>
  <input ng-attr-id="{{ $ctrl.idPrefix + '-input-file' }}"
         ng-attr-name="{{ $ctrl.idPrefix + '-input-file' }}"
         class="file" type="file" file-model on-file-change="$ctrl.changeFile(file)"/>
</div>
