<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div>
  <div class="alert alert-info">
    <p>Upload a <strong><a href="https://en.wikipedia.org/wiki/Variant_Call_Format" target="_blank">VCF file</a></strong> to execute this query.</p>
    <p>- For somatic analysis:</p> 
    <p>&nbsp;&nbsp;You can download a VCF example from a Breast cancer patient from TCGA 
      <a href="https://www.cbioportal.org/patient?studyId=brca_tcga&caseId=TCGA-D8-A1JD" target="_blank" >(TCGA-D8-A1JD) </a> from 
      <strong><a href="downloads/Multi-omics/TCGA-D8-A1JD_tumor.vcf" target="_blank">here</a></strong>.</p>
    <p>- For somatic and germline analysis:</p>
    <p>&nbsp;&nbsp;You can download a VCF example from a Colon adenocarcinoma patient from TCGA
      <a href="https://www.cbioportal.org/patient?studyId=coadread_tcga&caseId=TCGA-AA-3696" target="_blank" >(TCGA-AA-3696) </a>  
      with synthetic germline variants from <strong><a href="downloads/TCGA-AA-3696_tumor_germline.vcf" target="_blank">here</a></strong>.
      The synthetic CYP2D6 haplotypes for this patient (PharmCAT's optional file) are available 
      <strong><a href="downloads/TCGA-AA-3696_CYP2D6.tsv" target="_blank">here</a></strong>.</p>
    </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" ng-attr-data-target="{{ '#' + $ctrl.idPrefix + '-new-modal' }}">
    New variants analysis...
  </button>

  <div id="{{ $ctrl.idPrefix + '-new-modal' }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">New variants analysis</h4>
        </div>

        <div class="modal-body">
          <fieldset class="form-group">
            <label style="display:block" ng-attr-for="{{ $ctrl.idPrefix + '-input-file' }}">Select a variants file (in <a
              href="http://www.internationalgenome.org/wiki/Analysis/vcf4.0/">VCF format</a>). </label>
            <input ng-attr-id="{{ $ctrl.idPrefix + '-input-file' }}"
                     ng-attr-name="{{ $ctrl.idPrefix + '-input-file' }}"
                     class="form-control" type="file" file-model on-file-change="$ctrl.changeFile(file, 'VCF')"/>
            <div class="alert alert-danger" ng-if="$ctrl.errorVCFFile !== ''">
              <p>{{$ctrl.errorVCFFile}}</p>
            </div>            
            <label style="display:block"><input type="checkbox" ng-model="$ctrl.withPharmcat"> PharmCAT analysis</label>
            <div ng-if="$ctrl.withPharmcat==true" >
              <label ng-attr-for="{{ $ctrl.idPrefix + '-input-tsv-file' }}">Select an outside call file (tab-separated file):</label>
                <input ng-attr-id="{{ $ctrl.idPrefix + '-input-tsv-file' }}" ng-attr-name="{{ $ctrl.idPrefix + '-input-tsv-file' }}"
                     class="form-control" type="file" file-model on-file-change="$ctrl.changeFile(file, 'TSV')"/>  
                     <p>
                      <strong>WARNING</strong>: the optional file <strong>MUST </strong> contain the genotypes that PharmCAT cannot call from the VCF. 
                      See more: <a target='_blank' href="https://pharmcat.org/using/Outside-Call-Format">Outside Call Format</a>
                    </p>  
                    <p>Download an example <strong><a href="downloads/TCGA-AA-3696_CYP2D6.tsv" target="_blank">here</a></strong></p>
            </div>

            <label style="display:block" ng-attr-for="{{ $ctrl.idPrefix + '-input-name' }}">Computation name</label>
            <input ng-attr-id="{{ $ctrl.idPrefix + '-input-name' }}"
                   ng-attr-name="{{ $ctrl.idPrefix + '-input-name' }}"
                   class="form-control" type="text"
                   ng-model="$ctrl.computationName"/>
          </fieldset>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-disabled="!$ctrl.vcfFile || !$ctrl.computationName" type="button" class="btn btn-success" ng-click="$ctrl.submitVCF()">
            Submit VCF </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
