<div class="form-group">
  <label ng-attr-for="{{ $ctrl.idPrefix + '-input-file-cnv' }}">Select a CNV file</label>
  <input ng-attr-id="{{ $ctrl.idPrefix + '-input-file-cnv' }}"
         ng-attr-name="{{ $ctrl.idPrefix + '-input-file-cnv' }}"
         class="file" type="file" file-model on-file-change="$ctrl.changeCNVFile(file)"/>

  <label ng-attr-for="{{ $ctrl.idPrefix + '-input-file-expression' }}">Select a expression RNK file</label>
  <input ng-attr-id="{{ $ctrl.idPrefix + '-input-file-expression' }}"
         ng-attr-name="{{ $ctrl.idPrefix + '-input-file-expression' }}"
         class="file" type="file" file-model on-file-change="$ctrl.changeExpressionFile(file)"/> 
  
  <label style="display:block"><input type="checkbox" ng-model="$ctrl.combinedWithVCF" ng-change="$ctrl.changeWithCombined()"/> With variant analysis</label>    
  
  <variant-analysis-panel ng-if="$ctrl.combinedWithVCF == true" on-selected="$ctrl.selectedComputation(computationId, computation)">

</div>
   
