<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="form-group">
  <label ng-attr-for="{{ $ctrl.idPrefix + '-input-file' }}">Select a CNV file</label>
  <input ng-attr-id="{{ $ctrl.idPrefix + '-input-file' }}"
         ng-attr-name="{{ $ctrl.idPrefix + '-input-file' }}"
         class="file" type="file" file-model on-file-change="$ctrl.changeFile(file)"/>
</div>
