<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="advanced">
          Advanced Options
        </a>
      </h4>
    </div>
    <div id="advanced" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <!-- drug and status level-->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Drug Status Level</div>
              <div class="panel-body">
                <h4>Cancer</h4>
                <label><input type="checkbox" ng-model="$ctrl.cancerFda" ng-change="$ctrl.notifyChange()">FDA approved</label>
                <label><input type="checkbox" ng-model="$ctrl.cancerClinical" ng-change="$ctrl.notifyChange()">Clinical trials</label>

                <h4>Other pathologies</h4>
                <label><input type="checkbox" ng-model="$ctrl.otherFda" ng-change="$ctrl.notifyChange()">FDA approved</label>
                <label><input type="checkbox" ng-model="$ctrl.otherClinical" ng-change="$ctrl.notifyChange()">Clinical trials</label>
                <label><input type="checkbox" ng-model="$ctrl.otherExperimental" ng-change="$ctrl.notifyChange()">Experimental</label>
              </div><!-- end panel-body -->
            </div><!-- end drug and status level -->
          </div>

          <!-- interaction evidence level -->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Interaction Evidence Level</div>
              <div class="panel-body">
                <div>
                  <label>
                    <input type="checkbox" ng-model="$ctrl.directTarget" ng-change="$ctrl.notifyChange()">
                    Direct target
                  </label>
                  <img src="images/query/direct-target.png"/>
                </div>
                <div>
                  <label>
                    <input type="checkbox" ng-model="$ctrl.biomarker" ng-change="$ctrl.notifyChange()">
                    Biomarker
                  </label>
                  <img src="images/query/biomarker.png"/>
                </div>
                <div>
                  <label>
                    <input type="checkbox" ng-model="$ctrl.pathwayMember" ng-change="$ctrl.notifyChange()">
                    Pathway member
                  </label>
                  <img src="images/query/pathway-member.png"/>
                </div>
                <div>
                  <label>
                    <input type="checkbox" ng-model="$ctrl.geneDependency" ng-change="$ctrl.notifyChange()">
                    Genetic dependency
                  </label>
                  <img src="images/query/genetic-dependency.png"/>
                </div>
              </div><!-- end panel-body -->
            </div><!-- end  interaction evidence level -->
          </div>

          <!-- cancer types -->
          <div class="col-md-12" ng-class="{'disabled': !$ctrl.hasCancerStatusSelected()}">
            <div class="panel panel-default">
              <div class="panel-heading">
                Select Cancer Types
                <input class="btn btn-default btn-xs pull-right" type="button" value="Clear all"
                       ng-click="$ctrl.clearCancerTypesSelection()"
                       ng-disabled="!$ctrl.hasCancerStatusSelected()"/>
                <input class="btn btn-default btn-xs pull-right" type="button" value="Select all"
                       ng-click="$ctrl.selectAllCancerTypes()"
                       ng-disabled="!$ctrl.hasCancerStatusSelected()"/>
              </div>
              <div class="panel-body">
                <span class="cancer_type_checkbox" ng-repeat="cancerType in $ctrl.cancerTypes">
                  <input
                    id="cancerType_{{$index}}"
                    name="cancerType_{{$index}}"
                    type="checkbox"
                    value="{{cancerType.name}}"
                    ng-disabled="!$ctrl.hasCancerStatusSelected()"
                    ng-model="cancerType.selected"
                    ng-change="$ctrl.notifyChange()"
                  />
                  <label for="cancerType_{{$index}}"> {{cancerType.name | replace:'_':' ' | titlecase}}</label>
                </span>
              </div>
            </div><!-- end panel-body -->
          </div>
        </div><!-- end cancer types -->
      </div>
    </div>
  </div>
</div>
