<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div>
  <div class="alert alert-info">
    <p>
      This query allows to explore the drug-gene relationships available in PanDrugs database.
    </p>
    <p>
      <strong>Example: </strong><a href ng-click="$ctrl.pasteTemsirolimus()">Temsirolimus</a>
    </p>
  </div>

  <input class="form-control" placeholder="Enter a drug name" spellcheck="false"
         ng-model="$ctrl.drug" ng-change="$ctrl.updateDrugList()"/>

  <list-group items="$ctrl.drugItems" selected-items="$ctrl.selectedDrugItems"
              selectable="true" template-url="$ctrl.drugTemplateUrl" ng-if="$ctrl.showDrugList()"
              after-selection-change="$ctrl.notifyChange()"/>
</div>
