<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row drug-item" style="cursor: pointer;">
  <div class="pull-left">
    <h4 class="list-group-item-heading" ng-bind-html="item.showNameHtml"/>
    <h6 ng-bind-html="item.standardNameHtml"/>
    <ul>
      <li ng-if="item.sourceName" ng-repeat="sourceName in item.sourceName">
        <span class="drug-source">{{sourceName.name}}</span>: <span ng-bind-html="sourceName.drugNameHtml"/>
      </li>
    </ul>
  </div>
</div>
