<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container" id="team">
<h1>PanDrugs Team</h1>

<div class="row">
  <div class="col-sm-3">
    <img src="images/fatima.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Fátima Al-Shahrour</h3>
    <h4>Project Leader</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/elena.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Elena Piñeiro</h3>
    <h4>Researcher &amp; Database curator</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/dani.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Daniel Glez-Peña</h3>
    <h4>Front-end Developer</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/miguel.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Miguel Reboiro-Jato</h3>
    <h4>Back-end Developer</h4>
  </div>
</div>

<h2>Institutions</h2>

</div>