<div class="container" id="team">
<h1>PanDrugs<sup>db</sup> Team</h1>

<div class="row">
  <div class="col-sm-3">
    <img src="images/fatima.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Fátima Al-Shahrour</h3>
    <h4>Project Leader</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/elena.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Elena Piñeiro</h3>
    <h4>Researcher &amp; Database curator</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/dani.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Daniel Glez-Peña</h3>
    <h4>Front-end Developer</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <img src="images/miguel.jpg" class="img-circle">
  </div>
  <div class="col-sm-9">
    <h3>Miguel Reboiro-Jato</h3>
    <h4>Back-end Developer</h4>
  </div>
</div>

<h2>Institutions</h2>

</div>