<div class="row">
<form name="loginForm" ng-show="currentUser() === 'anonymous'" class="col-md-6">
  <h2>Login</h2>
  <label for="loginfield">Login</label><input name="loginfield" ng-model="login" type="text" class="form-control" required>
  <label for="passwordfield">Password</label><input name="passwordfield" ng-model="password" type="password" class="form-control" required></label>
  <input ng-disabled="!loginForm.$valid" class="btn btn-default" type="submit" value="Login" ng-click="doLogin()">
</form>

<form name="registerForm" ng-show="currentUser() === 'anonymous'" class="col-md-6">
  <h2>New User? Register!</h2>
  <label for="newloginfield">Login</label><input name="newloginfield" ng-model="newlogin" type="text" class="form-control" required>
  <label for="newemailfield">Email</label><input name="newemailfield" ng-model="newemail" type="email" class="form-control" required>
  <label for="newpasswordfield">Password</label><input id="newpasswordfield" ng-model="newpassword" type="password" class="form-control" required>
  <input ng-disabled="!registerForm.$valid" class="btn btn-default" type="submit" value="Register" ng-click="register()">
</form>
</div>
