<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="container">
  <h1>User Access</h1>

  <div class="row">
    <div class="well">
      Create an account in PanDrugs to store your VCF analysis results.
    </div>
  </div>

  <div class="row" ng-hide="newUser">
    <h3>Registered user</h3>

    <form name="loginForm" ng-show="currentUser() === 'anonymous'">
      <div class="form-group">
        <label for="loginfield">Login</label>
        <input id="loginfield" ng-model="login" type="text" class="form-control" required autofocus/>
      </div>
      <div class="form-group">
        <label for="passwordfield">Password</label>
        <input id="passwordfield" ng-model="password" type="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <input class="btn btn-default pull-left" type="button" value="I am a new user" ng-click="showRegistration()"/>
        <input ng-disabled="!loginForm.$valid" class="btn btn-primary pull-right" type="submit" value="Login" ng-click="doLogin()"/>
      </div>
    </form>
  </div>

  <div class="row" ng-show="newUser">
    <h3>Create account</h3>

    <form name="registerForm" ng-show="currentUser() === 'anonymous'">
      <div class="form-group">
        <label for="newloginfield">Login</label>
        <input id="newloginfield" ng-model="newlogin" type="text" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="newemailfield">Email</label>
        <input id="newemailfield" ng-model="newemail" type="email" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="newpasswordfield">Password</label>
        <input id="newpasswordfield" ng-model="newpassword" type="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <input class="btn btn-default pull-left" type="button" value="I already have an account" ng-click="showLogin()"/>
        <input ng-disabled="!registerForm.$valid" class="btn btn-success pull-right" type="submit" value="Register" ng-click="register()"/>
      </div>
    </form>
  </div>
</div>
