<div class="container">
<div class="jumbotron">
  <h1>Welcome to</h1>
  <p class="lead">
    <img src="images/pandrugsdb-logo-big.png" class="img-responsive" alt="I'm Yeoman"><br>
    
    A resource to study drug-gene interactions in a cancer disease context
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/queryMenu">Query database!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

  <h4>What is PanDrugs<sup>db</sup>?</h4>
  
  <p class="db_desc"><strong>PanDrugs<sup>db</sup></strong> database provides a resource for the drug-gene interactions exploration mainly oriented to cancer disease. This database groups relations between compounds and their respective <strong>targets</strong> stored in public databases and <strong>potential biomarkers</strong> identified in cancer cell lines drug response studies.<br><br>It also provides extra manual curated information about the drug status and their usage in cancer therapies or clinical studies in this field. All this completed with a ranking score reflecting the strength or evidence level of the association.<br><br>The database contains 55880 drug-gene relations of which 51908 are unique, corresponding to 3886 genes and 6048 drugs in different stages.</p>
  <p><strong>PanDrugs<sup>db</sup></strong> is supported by the <em>Spanish National Cancer Research Centre (CNIO)</em>.</p>
<img src="images/wordle.png" class="img-responsive" alt="I'm Yeoman"><br>  
</div>
</div>