<!--
  This file is part of PanDrugs Backend.

  PanDrugs Backend is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PanDrugs Backend is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with PanDrugs Backend.  If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-show="!isLoading" class="row">
  <button type="submit" class="btn btn-primary btn-lg" ng-show="hasResult()" ng-click="newQuery()" style="float:right">New Query</button>
  <h2>{{hasResult() ? 'PanDrugs Candidate Therapies' : 'Query PanDrugs'}}</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div ng-show="isLoading" class="jumbotron col-md-10 col-lg-8 col-md-push-1 col-lg-push-2">
      <h2>Querying PanDrugs</h2>
      <div class="sk-chasing-dots">
        <div class="sk-child"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
      <p>We are looking for candidate therapies. This should take a few seconds.</p>
      <p>Please, be patient...</p>
    </div>
  </div>
</div>

<div ng-show="!isLoading && !hasResult()" class="row">
  <form role="query form">
    <div class="container-fluid">
      <div class="row"  id="genequeryform">
        <div class="col-md-6">
          <div class="form-group">
            <div class="panel panel-default">
              <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{active:selectedTab === 'genes'}" role="presentation" ng-click="setSelectedTab('genes')">
                  <a href="/query#genes" aria-controls="genes" data-toggle="tab" role="tab">Genes</a>
                </li>
                <li ng-class="{active:selectedTab === 'drugs'}" role="presentation" ng-click="setSelectedTab('drugs')">
                  <a href="/query#drugs" aria-controls="drugs" data-toggle="tab" role="tab">Drugs</a>
                </li>
                <li ng-class="{active:selectedTab === 'generank'}" role="presentation" ng-click="setSelectedTab('generank')">
                  <a href="/query#generanking" aria-controls="gene-rank" data-toggle="tab" role="tab">Gene Ranking</a>
                </li>
                <li ng-class="{active:selectedTab === 'vcfranking'}" role="presentation" ng-click="setSelectedTab('vcfrank')">
                  <a href="/query#vcfrank" aria-controls="vcf-rank" data-toggle="tab" role="tab">Genomic Variants</a>
                </li>
              </ul>

              <div class="tab-content panel-body">
                <div id="genes" class="tab-pane"  role="tabpanel" ng-class="{active:selectedTab === 'genes'}">
                  <gene-query-panel on-change="updateGenes(genes, uniqueGeneList)"/>
                </div>

                <div id="drugs" class="tab-pane" role="tabpanel" ng-class="{active:selectedTab === 'drugs'}">
                  <drug-query-panel drug="drugQuery" on-change="updateDrug(drugQuery, selectedDrug)"/>
                </div>

                <div id="generanking" class="tab-pane" role="tabpanel" ng-class="{active:selectedTab === 'generank'}">
                  <gene-rank-query-panel id-prefix="generankpanel" on-change="updateGenerank(generank)"/>
                </div>

                <div id="vcfrank" class="tab-pane" role="tabpanel" ng-class="{active:selectedTab === 'vcfrank'}">
                  <vcf-query-panel id-prefix="vcfquerypanel" autoreload="selectedTab === 'vcfrank'" on-change="updateComputation(computationId, computation)"/>
                </div>
              </div>

              <div class="panel-body" ng-show="selectedTab === 'vcfrank' && !hasResult()">
                <button type="submit" class="btn btn-success btn-lg" ng-click="query()"
                        ng-disabled="!canQuery()" >Query with affected genes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" ng-show="selectedTab != 'drugs'">
          <advanced-query-options on-change="updateAdvancedQueryOptions(options)"/>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg" ng-show="selectedTab !== 'vcfrank' && !hasResult()"
              ng-click="query()" ng-disabled="!canQuery()" >Query</button>
    </div>
  </form>
</div>

<div id="resultsContainer" class="row container-fluid" ng-if="hasResult()">
  <div class="row">
    <div class="col-md-10 col-lg-8 col-md-push-1 col-lg-push-2 results-summary" ng-if="selectedTab === 'drugs'" ng-init="geneDrugGroup = resultsFiltered[0]">
      <div class="row">
        <div class="col-md-12">
          <h4 class="row">DRUG INFORMATION</h4>
          <dl>
            <dt>Drug</dt>
            <dd ng-if="geneDrugGroup.pubchemId.length === 0">
              {{geneDrugGroup.showDrugName}}
            </dd>
            <dd ng-if="geneDrugGroup.pubchemId.length > 0">
              <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{geneDrugGroup.pubchemId[0]}}" target="_blank">{{geneDrugGroup.showDrugName}}</a>
            </dd>

            <dt>Drug status</dt>
            <dd>{{geneDrugGroup.statusDescription}}</dd>

            <dt>Type of therapy</dt>
            <dd>{{geneDrugGroup.therapy ? geneDrugGroup.therapy : '' | titlecase | replace:'_':' '}}</dd>

            <dt>Related genes</dt>
            <dd ng-bind-html="geneDrugGroup.gene | mapAttribute : 'geneSymbol' | enumerationWithLink : 'http://www.ncbi.nlm.nih.gov/gene?term=[VALUE]' : true : '\\[VALUE\\]'"></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-8 col-md-push-1 col-lg-push-2 results-summary" ng-if="selectedTab !== 'drugs'">
      <div class="row">
        <div class="col-md-4" ng-if="selectedTab === 'genes'">
          <h4 class="row">GENES</h4>
          <table>
            <tr>
              <th>No. input genes</th><td>{{geneList.length}}</td>
            </tr>
            <tr>
              <th>No. genes in PanDrugs</th><td>{{genePresence.present.length}}</td>
            </tr>
            <tr>
              <th>No. genes not in PanDrugs</th><td>{{genePresence.absent.length}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4" ng-if="selectedTab === 'generank'">
          <h4 class="row">GENE Rank</h4>
          <table>
            <tr>
              <th>Input file</th><td>{{generank.name}}</td>
            </tr>
            <tr>
              <th>No. input genes</th><td>{{geneList.length}}</td>
            </tr>
            <tr>
              <th>No. genes in PanDrugs</th><td>{{genePresence.present.length}}</td>
            </tr>
            <tr>
              <th>No. genes not in PanDrugs</th><td>{{genePresence.absent.length}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4" ng-if="selectedTab === 'vcfrank'">
          <h4 class="row">Genomic variants</h4>
          <table>
            <tr>
              <th>Name</th><td>{{computation.name}}</td>
            </tr>
            <tr>
              <th>No. variants</th><td>{{computation.variantsInInput}}</td>
            </tr>
            <tr>
              <th>No. affected genes</th><td>{{computation.affectedGenes.length}}</td>
            </tr>
            <tr>
              <th>No. genes in PanDrugs</th><td>{{genePresence.present.length}}</td>
            </tr>
            <tr>
              <th>No. genes not in PanDrugs</th><td>{{genePresence.absent.length}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-8">
          <div class="row">
              <h5>SELECTED OPTIONS</h5>
              <div class="col-md-6">
                  <h6>Drug status level</h6>
                  <p ng-if="advancedQueryOptions.cancerFda">FDA approved cancer</p>
                  <p ng-if="advancedQueryOptions.cancerClinical">Clinical trials cancer</p>
                  <p ng-if="advancedQueryOptions.otherFda">FDA approved other patologies</p>
                  <p ng-if="advancedQueryOptions.otherClinical">Clinical trials other pathologies</p>
                  <p ng-if="advancedQueryOptions.otherExperimental">Experimental</p>
              </div>
              <div class="col-md-6">
                  <h6>Interaction evidence level</h6>
                  <p ng-if="advancedQueryOptions.target">Target</p>
                  <p ng-if="advancedQueryOptions.marker">Biomarker</p>
                  <h6>Selected cancer types</h6>
                  <p ng-if="!advancedQueryOptions.areAllCancerTypesSelected()">
                    {{advancedQueryOptions.getSelectedCancerTypes() | enumeration}}
                  </p>
                  <p ng-if="advancedQueryOptions.areAllCancerTypesSelected()">All</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="hasZeroResults()">
    Sorry, no results for your query have been found.
  </div>

  <div class="row" ng-if="selectedTab !== 'drugs' && hasAtLeastOneResult()">
    <div class="col-lg-7">
      <highchart id="therapiesChart" config="highchartsBubble" style="margin-top:20px"></highchart>
    </div>
    <div class="col-lg-5">
      <highchart id="therapyByStatusChart" config="highchartsTherapyByStatus" style="margin-top:20px"></highchart>
      <highchart id="therapyByFamilyChart" config="highchartsTherapyByFamily" style="margin-top:20px"></highchart>
    </div>
  </div>

  <div class="row" ng-if="selectedTab !== 'drugs' && hasAtLeastOneResult()">
    <gene-results-table query-result="results" gene-drug-groups="resultsFiltered"
                        computation="computation" show-variant-information="selectedTab === 'vcfrank'"/>

    <drug-results-table ng-if="selectedTab === 'drugs'" gene-drug-group="resultsFiltered[0]"/>
  </div>

  <div class="row" ng-if="selectedTab === 'drugs' && hasAtLeastOneResult()">
    <drug-results-table gene-drug-group="resultsFiltered[0]"/>
  </div>
</div>
