<h2>Legal Notice</h2>
Access to the PanDrugs website (www.pandrugs.org), property of the Spanish National Cancer Research Center – Centro
Nacional de Investigaciones Oncológicas, hereinafter CNIO, and the information relating to any of the services contained
therein, implies acceptance of the conditions set out in this legal notice. We therefore recommend that you read this
notice carefully if you wish to access and use the information and services offered via this website.

<h3>LSSIYCE LEGAL NOTICE</h3>
Pursuant to the obligations provided by Law 34/2002, on services of the information society and electronic commerce
(hereinafter, LSSIYCE), the SPANISH NATIONAL CANCER RESEARCH CENTER - CENTRO NACIONAL DE INVESTIGACIONES ONCOLÓGICAS
(CNIO) states that the domain www.pandrugs.org is the property of the CNIO, with tax code ESG81972242 and registered
office at c. Sinesio Delgado 6, 28029 Madrid (Madrid).

<h3>TERMS OF USE OF THE WEBSITE AND FORBIDDEN ACTIONS</h3>
Accessing and using the PanDrugs website confers the status of user and therefore involves express acceptance, without
reserves, of the terms of use provided in this legal notice. These terms shall be applicable regardless of the general
terms and conditions for contracts and electronic commerce that may apply to the functions offered by the websites.
The user undertakes to use the services and information provided by the website www.pandrugs.org in a proper and legal
manner, refraining from any illegal activities or activities in bad faith or against public order. In any case, the user
is responsible for any use of the information contained in this website. Should the use of certain functions or services
included in websites require prior registration by the user, such registration shall be carried out through forms that
gather data in accordance with personal data protection regulations. Minors must be authorized by their legal guardians
in order to use this website, the latter being responsible for their use.


<h3>LIABILITY</h3>
CNIO assumes no liability whatsoever that may arise from the incorrect, inappropriate or illegal use of the information
shown in its pages.
With the limits established by the law, CNIO assumes no liability that may arise from the lack of veracity, integrity,
currency or accuracy of the data or information contained in its webpages, including www.pandrugs.org. The contents and
information from CNIO' webpages are prepared by professionals who are duly qualified to exercise their profession.
However, such contents and information do not bind CNIO or constitute any kind of opinions or advice, as they are merely
provided as a service for informational and educational purposes.
CNIO' webpages may contain links to pages from third parties. CNIO cannot assume any liability for the contents that may
appear in third-party pages. The texts, images, sounds, animations, software and other contents included in this website
are the exclusive property of CNIO or its licensors. Any total or partial transfer, distribution, assignment,
reproduction, storage or public communication must have the express content of CNIO.


<h3>APPLICABLE LAW AND JURISDICTION</h3>
These general terms and conditions are governed by Spanish law, and the Spanish courts and tribunals of the city of
Madrid shall be competent to try any controversies that may arise from their interpretation, application and
performance.
The user, by virtue of his/her acceptance of the general terms and conditions included in this legal notice and whenever
possible, expressly waives any jurisdiction that may be applicable according to the Spanish Civil Procedure Law.